{% extends 'base.html' %}

{% block content %}

<div class="min-h-screen bg-gray-100 py-6 flex flex-col justify-center sm:py-12">
	<div class="relative py-3 sm:max-w-xl sm:mx-auto">
		<div
			class="absolute inset-0 bg-gradient-to-r from-blue-300 to-blue-600 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl">
		</div>
		<div class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20">
			<div class="max-w-md mx-auto">
				<div class="w-full text-center mx-auto">
					<h1 class="`text-2xl font-semibold">
                        {% if step == "login" %}
                            Login
                        {% elif step == "register" %}
                            Register
                        {% elif step == "forgot_password" %}
                            Password forgot
                        {% elif step == "set_new_pass" %}
                            Set new password
                            {% endif %}
                        </h1>
                    </div>
                    <div class="divide-y divide-gray-200">
                        <div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">
                            <form 
                            id="form" 
                            {% if step == "login" %}
                                hx-post="{% url 'login' %}"
                            {% elif step == "register" %}
                                hx-post="{% url 'register' %}"                                
                            {% elif step == "forgot_password" %}
                                hx-post="{% url 'forgot_password' %}"
                            {% elif step == "set_new_pass" %}
                                hx-post="{% url 'set_new_pass' %}"
                            {% endif %}
                            hx-target="#form-holder"
                            >
                            <div id="form-holder">
                                {% if step == "login" %}
                                    {% include 'components/login.html' %}
                                {% elif step == "register" %}
                                    {% include 'components/register.html' %}
                                {% elif step == "forgot_password" %}
                                    {% include 'components/pass_forgot.html' %}
                                {% elif step == "set_new_pass" %}
                                    {% include 'components/new_pass.html' %}
                                {% endif %}
                            </div>
                            <div class="relative w-full text-center mx-auto">
                                <button 
                                    type="submit" 
                                    data-test="submit"
                                    class="bg-blue-500 text-white rounded-md px-10 py-1 mt-5"
                                >Submit</button>
                            </div>
                        </form>
					</div>
				</div>
			</div>
            {% if step == "login" %}
                <a href="{% url 'register' %}" class="text-blue-500 hover:text-gray-900 px-3 py-2 rounded-md text-sm font-medium">Register</a>
            {% elif step == "register" %}
                <a href="{% url 'login' %}" class="text-blue-500 hover:text-gray-900 px-3 py-2 rounded-md text-sm font-medium">Sign in</a>
            {% endif %}
		</div>
	</div>
</div>

{% endblock %}
