<form 
    id="register-form" 
    hx-post="{% url 'register' %}"
>
<label for="{{ form.username.id_for_label }}" class="font-black">{{ form.username.label }} <span class="text-red-500">*</span></label>
{{form.username.label|lower}}
<input 
    name={{form.username.label|lower}}
    type="text"  
    hx-post="/register/check_username"
    hx-trigger="blur"
    hx-target="#validation-username"   
    hx-include="value"
    />
<div id="validation-username"></div>

<label 
for="{{ form.email.id_for_label }}" 
class="font-black">{{ form.email.label }} <span class="text-red-500">*</span></label>

{{form.email}}
<div>
    <small class="form-text text-muted">{{ form.email.help_text }}</small>
</div>

<div class="form-group">
    <label for="{{ form.password1.id_for_label }}" class="font-black">{{ form.password1.label }} <span class="text-red-500">*</span></label>
    {{ form.password1 }}
    <ul>
        {% for help_text in form.password1.help_text %}
        <li class="list-disc ml-10">
          <small class="form-text text-muted">{{ help_text }}</small>
        </li>
        {% endfor %}
    </ul>
  </div>
  {% if form.password2.errors %}
  <div class="text-red-500">
    {% for error in form.password2.errors %}
      <span>{{ error }}</span>
    {% endfor %}
  </div>
{% endif %}
  <label for="{{ form.password2.id_for_label }}" class="font-black">{{ form.password2.label }} <span class="text-red-500">*</span></label>
  {{ form.password2 }}
  <div>
  <small class="form-text text-muted">{{ form.password2.help_text }}</small>
  </div>
</div>

    <button type="submit">Register</button>
</form>
{% comment %} {{form.email.help_text}}
{% for jose in form.email.help_texts %}
{{jose}}
{% endfor%} {% endcomment %}

{% comment %} <style>
    .helptext {
        color: #bd512f !Important;
}
</style> {% endcomment %}