<h2 class="text-2xl py-2">Add an ingredient:</h2>
  <div class="grid grid-cols-4 gap-6">
  <div>
    <input type="hidden" name="recipe" value="{{ recipe.id }}" />
    <input type="number"
           name="quantity"
           id="quantity"
           step="0.01"
           placeholder="Quatity"
           min="0"
           data-test="quantity"
           required
           class="w-28 bg-orange-200 capitalize  text-gray-900 text-sm rounded-lg focus:ring-0 border-0 block">
  </div>
  <div>
    <select name="unit"
            id="unit"
            value="{{ form.unit.name }}"
            data-test="unit"
            class="bg-orange-200 capitalize  text-gray-900 text-sm rounded-lg focus:ring-0 border-0 block">
      {% for value in form.unit %}
        <option value="{{ value.data.value }}"
                class="capitalize"
                {% if value == form.category.value %}selected{% endif %}>{{ value.data.value }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="flex col-span-2">
    <div class="search-input">
      <input type="text"
             name="ingredient_name"
             id="input-search"
             autocomplete="off"
             placeholder="Ingredient name"
             data-test="ingredient_name"
             required
             class="bg-orange-200 capitalize  text-gray-900 text-sm rounded-lg focus:ring-0 border-0 block">
      <div class="icon text-orange-700 -ml-10 mt-2 mr-4">
        <svg xmlns="http://www.w3.org/2000/svg"
             width="24"
             height="24"
             viewBox="0 0 256 256">
          <path fill="currentColor" d="M232.49 215.51L185 168a92.12 92.12 0 1 0-17 17l47.53 47.54a12 12 0 0 0 17-17ZM44 112a68 68 0 1 1 68 68a68.07 68.07 0 0 1-68-68Z" />
        </svg>
      </div>
      <div class="autocom-box absolute bg-red-50 w-40 mt-2"></div>
    </div>
    <div id="ingredient-add-button-link" data-test="add-ingredient">{% include "patterns/components/icons/add/add.html" %}</div>
    <span id="indicator-ingredient" class="htmx-indicator">{% include "patterns/components/spinner/spinner.html" %}</span>
  </div>
  </div>
<script>

  const ingredients = [];
    
  const ingredientAddButton = document.getElementById("ingredient-add-button-link");
  const ingredientHidenInput = document.createElement('div')
  const ingredientDisplay = document.createElement('div')
  ingredientHidenInput.setAttribute('id','ingredient-input-hidden')
  ingredientDisplay.setAttribute('id','ingredient-display')
  form.appendChild(ingredientHidenInput)
  form.appendChild(ingredientDisplay)


    ingredientAddButton.addEventListener('click', function(){
        const quantity = document.getElementById("quantity");
        const unit = document.getElementById("unit");
        const name = document.getElementById("input-search");
        ingredients.push({
            quantity: quantity.value,
            unit: unit.value,
            name: name.value,
        });
        // reset form
        quantity.value = ""
        name.value = ""

        // Clean up
        while (ingredientHidenInput.hasChildNodes()) {
            ingredientHidenInput.removeChild(ingredientHidenInput.lastChild);
        }
        while (ingredientDisplay.hasChildNodes()) {
            ingredientDisplay.removeChild(ingredientDisplay.lastChild);
        }
        // add hidden input to form
        const input = document.createElement('input');
        input.setAttribute('name','links')
        input.setAttribute('type','hidden')
       
        ingredientHidenInput.appendChild(input)

        // generate visual feedback

        const table = document.createElement('table');
        table.setAttribute('id', 'ingredientsTable');

        // Create table header
        const thead = document.createElement('thead');
        const headerRow = document.createElement('tr');
        const nameHeader = document.createElement('th');
        nameHeader.textContent = 'Name';
        const quantityHeader = document.createElement('th');
        quantityHeader.textContent = 'Quant.';
        const unitHeader = document.createElement('th');
        unitHeader.textContent = 'Unit';
        const deleteHeader = document.createElement('th'); // New delete header
        deleteHeader.textContent = 'Delete';
        headerRow.appendChild(quantityHeader);
        headerRow.appendChild(unitHeader);
        headerRow.appendChild(nameHeader);
        headerRow.appendChild(deleteHeader);
        thead.appendChild(headerRow);
        table.appendChild(thead);

// Create table body
        const tbody = document.createElement('tbody');
        tbody.setAttribute('id', 'ingredientsBody');
        for (let ingredient of ingredients) {
            const row = document.createElement('tr');
            const nameCell = document.createElement('td');
            nameCell.textContent = ingredient.name;
            const unitCell = document.createElement('td');
            unitCell.textContent = ingredient.unit;
            const quantityCell = document.createElement('td');
            quantityCell.textContent = ingredient.quantity;
            const deleteCell = document.createElement('td'); // New delete cell
            const deleteIcon = document.createElement('span'); // Create delete icon
            deleteIcon.innerHTML = `{% include "patterns/components/icons/delete/delete.html" %}`; // Use trash bin emoji as icon
            deleteIcon.style.cursor = 'pointer';
            deleteIcon.addEventListener('click', function() {
                tbody.removeChild(row);
                const index = ingredients.indexOf(ingredient);
                if (index > -1) {
                    ingredients.splice(index, 1);
                }
                input.setAttribute('value',JSON.stringify(ingredients))
                if (ingredients.length === 0) {
                    ingredientDisplay.removeChild(table);
                }
            });
        deleteCell.appendChild(deleteIcon);
        const handleCell = document.createElement('td');
handleCell.textContent = '☰'; // Use hamburger icon as handle
handleCell.classList.add('handle');
row.appendChild(handleCell);
        row.appendChild(quantityCell);
        row.appendChild(unitCell);
        row.appendChild(nameCell);
        row.appendChild(deleteCell); // Append delete cell to row
        tbody.appendChild(row);
    }   
    table.appendChild(tbody);
    // Append the table to the ingredientDisplay
    ingredientDisplay.appendChild(table);
    input.setAttribute('value',JSON.stringify(ingredients))
    
    const ingredientsBody = document.getElementById('ingredientsBody');
    new Sortable(ingredientsBody, {
        animation: 150,
        handle: '.handle', // Class name of the handle element
        swapThreshold: 0.65,
        onEnd: function(evt) {
            const item = ingredients.splice(evt.oldIndex, 1)[0];
            ingredients.splice(evt.newIndex, 0, item);
            input.setAttribute('value',JSON.stringify(ingredients))
        }
    });
  });

/*
  document.addEventListener('DOMContentLoaded', function() {
    const tbody = document.getElementById('ingredientsBody');
});
*/

// suggestion
  let suggestions = {% if ingredient_names %} {{ ingredient_names|safe }}; {% else %} [];{% endif %}
  const searchWrapper = document.querySelector(".search-input");
  const inputBox = document.getElementById("input-search");
  const suggBox = document.querySelector(".autocom-box");
// if user press any key and release

  inputBox.onkeyup = (e)=>{
    let userData = e.target.value; //user enetered data
    let emptyArray = [];
    if(userData){
      emptyArray = suggestions.filter((data)=>{
				//filtering array value and user characters to lowercase and return only those words which are start with user enetered chars
        return data.toLocaleLowerCase().startsWith(userData.toLocaleLowerCase());
      });
      emptyArray = emptyArray.map((data)=>{
				// passing return data inside li tag
        return data = `<li>${data}</li>`;
      });
      searchWrapper.classList.add("active"); //show autocomplete box
      showSuggestions(emptyArray);
      let allList = suggBox.querySelectorAll("li");
      for (let i = 0; i < allList.length; i++) {
				//adding onclick attribute in all li tag
        allList[i].setAttribute("onclick", "select(this)");
      }
    }else{
      searchWrapper.classList.remove("active"); //hide autocomplete box
    }
  }
  function select(element){
    let selectData = element.textContent;
    inputBox.value = selectData;
    searchWrapper.classList.remove("active");
  }

  function showSuggestions(list){
    let listData;
    if(!list.length){
      userValue = inputBox.value;
      listData = `<li>${userValue}</li>`;
    }else{
      listData = list.join('');
    }
    suggBox.innerHTML = listData;
  }
	// form validation (This can be done by form since we form can't be nested)
  const quantity = document.getElementById("quantity")
  document.addEventListener('htmx:afterRequest', function(evt) {
    inputBox.value = "";
    quantity.value = "";
  });

</script>

<style>
  ::selection{
    color: #fff;
    background: #ff654a;
  }

  .wrapper{
    max-width: 450px;
    margin: 150px auto;
  }

  .wrapper .search-input{
    background: #fff;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
  }

  .search-input .autocom-box{
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
  }

  .search-input.active .autocom-box{
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
  }

  .autocom-box li{
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
  }

  .search-input.active .autocom-box li{
    display: block;
  }
  .autocom-box li:hover{
    background: #efefef;
  }
</style>
