{% load my_filters %}
{% for obj in page_obj %}
    {% if forloop.last %}
        <div 
            hx-get="{% url 'feed-search' %}?page={{ page_obj.number | add:1 }}"
            hx-include="[name=search]"
            hx-include="[name=type]"
            hx-trigger="revealed"
            hx-swap="afterend">
        </div>
    {% endif %}
    {% if obj|class_name == "Article" %}
        {% include "components/cards.html" with type="article" content=obj %}
    {% elif obj|class_name == "Recipe" %}
        {% include "components/cards.html" with type="recipe" content=obj %}
    {% endif %}
{% empty %}
    <p>Nothing in the feed Search</p>
{% endfor %}
