{% load static tailwind_tags %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="shortcut icon"
          type="image/svg+xml"
          href="{% static '/favicon.svg' %}" />
    {% tailwind_css %}
  </head>
  <body class="w-screen h-screen bg-orange-100"
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% include 'navbar.html' %}
    <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8 pt-40">
      <h1 class=" text-center text-red-100 font-semibold text-2xl">
        {% translate "Welcome to Elisa's corner!" %}
        <p>
          {% get_current_language as LANGUAGE_CODE %}
          {% get_available_languages as LANGUAGES %}
          {% get_language_info_list for LANGUAGES as languages %}
          {% for language in languages %}
            <a href="/{{ language.code }}/"
               class="text-gray-100 hover:text-gray-900 px-3 py-2 rounded-md text-sm font-medium"
               data-test="fr">{{ language.name_local }}</a>
          {% endfor %}
        </p>
      </h1>
    </div>
  </body>
</html>
