{% load static %}
{% load i18n %}
<nav class="nav bg-orange-200 fixed w-full">
    <a href="{% url 'home' %}">
        <img src="{% static 'logo3.svg' %}"
             alt=" Logo"
             class="w-24 ml-10 pt-1.5 float-left" />
    </a>
    <li class="md:hidden block float-right">{% include 'lang_selector.html' %}</li>
    {% if  user.is_authenticated %}
        <li class="md:hidden block float-right">{% include "profile_menu.html" %}</li>
    {% endif %}
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn">
        <span class="navicon"></span>
    </label>
    <ul class="menu overflow-hidden md:overflow-visible pt-5">
        <li>
            <a href="/recipes/"
               class="px-5 group text-orange-600 transition duration-300 md:hover:bg-transparent hover:bg-orange-800">
                {% translate "recipes" %}
                <span class="sm:block max-w-0 group-hover:max-w-full transition-all duration-200 h-0.5 bg-orange-600"></span>
            </a>
        </li>
        <li>
            <a href="/authors/"
               class="px-5 group text-orange-600 transition duration-300 md:hover:bg-transparent hover:bg-orange-800">
                {% translate "author" %}
                <span class="sm:block max-w-0 group-hover:max-w-full transition-all duration-200 h-0.5 bg-orange-600"></span>
            </a>
        </li>
        {% if not user.is_authenticated %}
            <li class="hidden md:block">
                <a href="/login" class=""><span class="bg-orange-600 text-white px-10 py-2 rounded-xl mx-2">{% translate "login" %}</span></a>
            </li>
            <li class="md:hidden block">
                <a href="/login"
                   class="group text-orange-600 transition duration-300 md:hover:bg-transparent hover:bg-orange-800">
                    {% translate "login" %}
                    <span class="sm:block max-w-0 group-hover:max-w-full transition-all duration-200 h-0.5 bg-orange-600"></span>
                </a>
            </li>
            <li class="hidden md:block">
                <a href="/register"><span class="bg-orange-600 text-white px-10 py-2 rounded-xl mx-2">{% translate "register" %}</span></a>
            </li>
            <li class="md:hidden block">
                <a href="/register"
                   class="group text-orange-600 transition duration-300 md:hover:bg-transparent hover:bg-orange-800">
                    {% translate "register" %}
                    <span class="sm:block max-w-0 group-hover:max-w-full transition-all duration-200 h-0.5 bg-orange-600"></span>
                </a>
            </li>
        </li>
    {% endif %}
    <li class="hidden md:block">{% include 'lang_selector.html' %}</li>
    {% if  user.is_authenticated %}
        <li class="hidden md:block">{% include "profile_menu.html" %}</li>
    {% endif %}
</ul>
</nav>
<style>
/* nav */

.nav li a {
display: block;
}

/* menu */
.nav .menu {
clear: both;
max-height: 0;
transition: max-height .2s ease-out;
}
/* menu icon */
.nav .menu-icon {
cursor: pointer;
display: inline-block;
float: right;
padding: 28px 20px;
position: relative;
user-select: none;
}
.nav .menu-icon .navicon {
background: #333;
display: block;
height: 2px;
position: relative;
transition: background .2s ease-out;
width: 18px;
}
.nav .menu-icon .navicon:before,
.nav .menu-icon .navicon:after {
background: #333;
content: '';
display: block;
height: 100%;
position: absolute;
transition: all .2s ease-out;
width: 100%;
}
.nav .menu-icon .navicon:before {
top: 5px;
}
.nav .menu-icon .navicon:after {
top: -5px;
}
/* menu btn */
.nav .menu-btn {
display: none;
}
.nav .menu-btn:checked ~ .menu {
max-height: 240px;
}
.nav .menu-btn:checked ~ .menu-icon .navicon {
background: transparent;
}
.nav .menu-btn:checked ~ .menu-icon .navicon:before {
transform: rotate(-45deg);
}
.nav .menu-btn:checked ~ .menu-icon .navicon:after {
transform: rotate(45deg);
}
.nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
top: 0;
}
/* 48em = 768px */
@media (min-width: 48em) {
.nav li {
float: left;
}

.nav .menu {
clear: none;
float: right;
max-height: none;
}
.nav .menu-icon {
display: none;
}
}

</style>
