{% load static %}
{% comment %} <nav>
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
       <div class="flex justify-between h-16">
          <div class="flex">
             <a href="/" class="flex-shrink-0 flex items-center" data-test="logo">
                <img class="block lg:hidden w-60" src="{% static 'logo.svg' %}" alt="Logo">
                <img class="hidden lg:block w-60" src="{% static 'logo.svg' %}" alt="Logo">
               </a>
          </div>
          <div class="flex items-center">
             <a href="{% url 'profile' %}" class="text-gray-100 hover:text-gray-900 px-3 py-2 rounded-md text-sm font-medium">Recipes</a>
             <a href="{% url 'profile' %}" class="text-gray-100 hover:text-gray-900 px-3 py-2 rounded-md text-sm font-medium">Author</a>
             {% if user.is_authenticated %}
             <div class="dropdown">
                <button class="profile-icon" onclick="toggleDropdown()" data-test="profile">Profile</button>
                <div class="dropdown-content rounded-lg shadow-sm" id="dropdown">
                   <a href="{% url 'account' %}" class="text-gray-100 hover:text-gray-100 hover:bg-amber-800 px-3 hover:px-2 rounded-md text-sm font-medium">My Profile</a>
                   <a href="{% url 'logout' %}" hx-target="body" class="text-gray-100 hover:text-gray-100 hover:bg-amber-800 px-3 hover:px-2 rounded-md text-sm font-medium" data-test="logout">logout</a>
                </div>
              </div>
             {% else %}
                <a href="{% url 'login' %}" class="text-gray-100 hover:text-gray-900 px-3 py-2 rounded-md text-sm font-medium" data-test="login">Sign in</a>
                <a href="{% url 'register' %}" class="text-gray-100 hover:text-gray-900 px-3 py-2 rounded-md text-sm font-medium">Register</a>
                {% endif %}

               <a href="#" class="text-gray-100 hover:text-gray-900 px-3 py-2 rounded-md text-sm font-medium" data-test="fr">fr</a>
               <a href="#" class="text-gray-100 hover:text-gray-900 px-3 py-2 rounded-md text-sm font-medium" data-test="fr">en</a>
           </div>
       </div>
   </div>
</nav> {% endcomment %}
<nav class=" border-gray-200 dark:bg-gray-900">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <a href="{% url 'home' %}">
            <img src="{% static 'logo.svg' %}" class="w-60 h-20" alt=" Logo" />
        </a>
        <div class="flex items-center md:order-2">
            {% comment %} profile picture {% endcomment %}
            {% if user.is_authenticated %}
                {% if user.profile_picture %}
                    <button type="button"
                            class="flex mr-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
                            id="user-menu-button"
                            aria-expanded="false"
                            data-dropdown-toggle="user-dropdown"
                            data-dropdown-placement="bottom">
                        <span class="sr-only">Open user menu</span>
                        <img class="profile-picture-nav rounded-full aspect-square"
                             src="{{ user.profile_picture.url }}"
                             alt="Profile Picture">
                    </button>
                {% else %}
                    {{ user.username }}
                {% endif %}
            {% else %}
                <a href="{% url 'login' %}"
                   class="text-gray-100 hover:text-gray-900 px-3 py-2 rounded-md text-sm font-medium"
                   data-test="login">Sign in</a>
                <a href="{% url 'register' %}"
                   class="text-gray-100 hover:text-gray-900 px-3 py-2 rounded-md text-sm font-medium">Register</a>
            {% endif %}
            <!-- Dropdown menu -->
            <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600"
                 id="user-dropdown">
                <div class="px-4 py-3">
                    <span class="block text-sm text-gray-900 dark:text-white">Bonnie Green</span>
                    <span class="block text-sm  text-gray-500 truncate dark:text-gray-400">name@flowbite.com</span>
                </div>
                <ul class="py-2" aria-labelledby="user-menu-button">
                    <li>
                        <a href="#"
                           class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Dashboard</a>
                    </li>
                    <li>
                        <a href="#"
                           class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Settings</a>
                    </li>
                    <li>
                        <a href="#"
                           class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Earnings</a>
                    </li>
                    <li>
                        <a href="#"
                           class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign out</a>
                    </li>
                </ul>
            </div>
            <button data-collapse-toggle="navbar-user"
                    type="button"
                    class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                    aria-controls="navbar-user"
                    aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5"
                     aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg"
                     fill="none"
                     viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15" />
                </svg>
            </button>
        </div>
        <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
             id="navbar-user">
            <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                <li>
                    <a href="#"
                       class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500"
                       aria-current="page">Home</a>
                </li>
                <li>
                    <a href="#"
                       class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">About</a>
                </li>
                <li>
                    <a href="#"
                       class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Services</a>
                </li>
                <li>
                    <a href="#"
                       class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Pricing</a>
                </li>
                <li>
                    <a href="#"
                       class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<style>
   .profile-picture-nav{
      width: 40px;
      height: 40px;
   }

</style>
