{% for index in "54321" %}
    <input type="radio" id="star{{ index }}" name="rate" value={{ index }} {% if rate is index %}checked{% endif %} />
    <label for="star{{ index }}" title="{{ index }} star">
        <svg class="w-6 h-6 fill-current"
             xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 24 24">
            <path d="M12 17.27l-5.76 3.387a1 1 0 0 1-1.47-1.054l1.14-6.623L.293 9.387a1 1 0 0 1 .553-1.79l6.664-.96L10.18 1.53a1 1 0 0 1 1.64 0l2.67 5.506 6.664.96a1 1 0 0 1 .553 1.79l-4.354 4.246 1.14 6.623a1 1 0 0 1-1.47 1.054L12 17.27z" />
        </svg>
    </label>
{% endfor %}
<script>
    rate = {{ rate|default_if_none:"null" }};
    if (rate !== null) {
      const star = document.getElementById(`star${rate}`);
      if (star !== null) {
        star.checked = true;
      }
    }
</script>
<style>
    .rate {
        float: left;
        padding: 0 10px;
    }
    .rate:not(:checked) > input {
        position:absolute;
        display:none;
    }
    .rate:not(:checked) > label {
        float:right;
        overflow:hidden;
        white-space:nowrap;
        cursor:pointer;
        color:#ccc;
  
    }
    .rate > input:checked ~ label {
        color: #ffc700;
    }
    .rate:not(:checked) > label:hover,
    .rate:not(:checked) > label:hover ~ label {
        color: #deb217;
    }
    .rate > input:checked + label:hover,
    .rate > input:checked + label:hover ~ label,
    .rate > input:checked ~ label:hover,
    .rate > input:checked ~ label:hover ~ label,
    .rate > label:hover ~ input:checked ~ label {
        color: #c59b08;
    }
  
</style>
