{% load my_filters %}
<div class="overflow-hidden relative">
    <div class="ribbon-article absolute shadow">
        <a href="#">Artcile</a>
    </div>
    <a href="{% url "article:detail" pk=article.id %}">
        <div class="header-card">
            <h2 class="text-3xl font-bold">{{ article.title }}</h2>
            <p class="text-sm font-light ml-20">by {{ article.author.username }}</p>
        </div>
        <div class="sm:block hidden h-52 overflow-hidden mb-5 bg-cover bg-center w-full"
             style="background-image: url('{{ article.image.image.crop.600x200.url|minio_to_localhost }}')"></div>
        <div class="sm:hidden block h-96 overflow-hidden mb-5 bg-cover bg-center w-full"
             style="background-image: url('{{ article.image.image.crop.400x400.url|minio_to_localhost }}')"></div>
        <h2 class="text-justify">{{ article.content.html | safe }}</h2>
        {% if article|total_rate_count %}
            <div class="float-left">
                {% include "patterns/components/meter/meter2.html" with rate_average=article|total_rate_avg number_of_rate_given=article|total_rate_count %}
            </div>
            <p class="text-sm font-light text-right pt-5">{{ article.created_at }}</p>
        {% else %}
            <div class="pt-4">
                <p class="text-sm font-light float-right">{{ article.created_at }}</p>
                <p class=" italic text-red-600">not yet rated</p>
            </div>
        {% endif %}
    </a>
</div>
<style>
    .ribbon-article {
        background-color: #a00;
        right: -40px;
        top: 10px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .ribbon-article a {
        border: 1px solid #faa;
        color: #fff;
        display: block;
        font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
        margin: 1px 0;
        padding: 10px 50px;
        text-align: center;
        text-decoration: none;
        text-shadow: 0 0 5px #444;
    }
</style>
