{% load static %}
{% for author in authors %}
    {% comment %} TODO: make a component for that {% endcomment %}
    {% comment %} {% include "components/cards.html" with type="article" article=article %} {% endcomment %}
    <a href={% url "user:detail" pk=author.id %}>
        <div class="bg-orange-50 h-64 w-56 rounded-lg mx-4 p-4 hover:scale-105 transition hover:shadow-lg text-center mb-20">
            {% if author.profile_picture %}
                {% include "components/profile_image_circle.html" with username=author.username url=author.profile_picture.image.url %}
            {% else %}
                <img src="{% static 'abstract-user.svg' %}"
                     alt="{{ author.username }}"
                     class="w-40 h-40 border-solid border-orange-800 border-4 rounded-full -mt-20 text-center mx-auto" />
            {% endif %}
            <h1 class="text-xl font-semibold text-red-700 py-2 first-letter:uppercase">{{ author.username }}</h1>
            <p class="font-light first-letter:uppercase">{{ author.bio }}</p>
        </div>
    </a>
{% endfor %}
