{% for author in authors %}
    <div class="card bg-slate-200 m-5 p-5 rounded h-80 w-100 mt-20">
        {% if author.profile_picture %}
            <img class="relative w-40 h-40 border-solid border-orange-800 border-4 rounded-full -mt-20"
                 src="{{ author.profile_picture.url }}"
                 alt="Profile Picture" />
        {% else %}
            {% load static %}
            <img src="{% static 'abstract-user.svg' %}"
                 alt="Profile Picture"
                 class="relative w-40 h-40 border-solid border-orange-800 border-4 rounded-full -mt-20 " />
        {% endif %}
        <p class="text-center py-2">{{ author.username }}</p>
        <p class="font-light italic text-sm">Description:</p>
        <p class="ml-2">{{ author.bio }}</p>
    </div>
{% endfor %}
