{% load my_filters %}
<form id="profile-pic-form"
      hx-post="{% url 'user:api-edit-image' %}"
      hx-target="#saved"
      hx-encoding="multipart/form-data"
      emctype="multipart/form-data"
      class="w-44">
    <div class="items-center">
        {% include "components/profile_image_circle.html" with username=author.username url=img %}
        <label for="profile-pic-input" class="w-full text-center -mt-5">
            <input id="profile-pic-input"
                   type="file"
                   name="image"
                   onchange="loadFile(event)"
                   accept="image/*"
                   class="opacity-0  w-full h-full cursor-pointer" />
            <button id="plpl" class="inline ml-5">
                Edit
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="18"
                     height="18"
                     viewBox="0 0 24 24"
                     class="w-6 h-6  pointer-events-none inline">
                    <path fill="currentColor" d="m19.3 8.925l-4.25-4.2l1.4-1.4q.575-.575 1.413-.575t1.412.575l1.4 1.4q.575.575.6 1.388t-.55 1.387L19.3 8.925ZM17.85 10.4L7.25 21H3v-4.25l10.6-10.6l4.25 4.25Z" />
                </svg>
            </button>
        </label>
    </div>
    <div class="mt-3">
        <button id="save-image"
                type="submit"
                class="bg-orange-600 text-white py-2 px-10 hidden rounded-lg z-10">Save image</button>
    </div>
    {% comment %} <progress id="progress" value=0 max=100></progress> {% endcomment %}
    <div id="saved"></div>
</form>
<script>
    {% comment %} htmx.on('#profile-pic-form', 'htmx:xhr:progress', fonction(evt){
        htmx.find('#progress').setAttribute('value', evt.detail.load/evt.detail.total *100)
}); {% endcomment %}
    let image_changed = false;
    let save_image = document.getElementById('save-image');
    let loadFile = function(event) {
        var input = event.target;
        var file = input.files[0];
        var type = file.type;
        let output = document.getElementById('profile-pic');
        save_image.classList.remove('hidden');

        output.src = URL.createObjectURL(event.target.files[0]);

        output.onload = function() {
            URL.revokeObjectURL(output.src) // free memory
        }
    };
    let btnTriggerInput = document.getElementById('plpl');
    let fileInput = document.getElementById('profile-pic-input')
    {% comment %} let pen_icon = file_input.nextElementSibling; {% endcomment %}
    btnTriggerInput.addEventListener('click', function() {
        console.log('clicked');
        fileInput.click();
    });
</script>
