{% load static %}
<nav class="bg-orange-100 w-1/4 h-screen shadow px-5">
    <a href="{% url 'home' %}" class="px-5">
        <img src="{% static 'just_logo.svg' %}"
             alt=" Logo"
             class="w-1/3 mx-auto text-center" />
    </a>
    <ul class="ml-5">
        <a href={% url 'profile' %}>
            <li>profile</li>
        </a>
        <a href={% url 'my-recipes' %}>
            <li>My recipes</li>
        </a>
        <a href={% url 'my-favorites' %}>
            <li>favorites</li>
        </a>
        <a href={% url 'logout' %}>
            <li>Logout</li>
        </a>
    </ul>
</nav>
