<div>
    Enter Recipe Step's:
        <label for="title" class="block text-sm font-medium text-gray-700">Title</label>
        <input type="text"
               name="title"
               id="step-title"
               data-test="title-step"
               placeholder="Give a title for your Recipe step"
               required
               class="px-3 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-orange-600 focus:border-transparent">
        <label for="instruction" class="block text-sm font-medium text-gray-700">Instruction</label>
        <div class="bg-slate-100 rounded-lg"
             data-test="instruction-step"
             id="step-instruction">{{ recipeStepForm.instruction }}</div>
        <label for="image" class="block text-sm font-medium text-gray-700">Image</label>
        <input type="file"
               name="image"
               id="step-image"
               accept="image/*"
               data-test="image-step">
        <p id="step-add-button-link" data-test="add-step">{% include "patterns/components/icons/add/add.html" %}</p>
        <span id="indicator-step" class="htmx-indicator">{% include "patterns/components/spinner/spinner.html" %}</span>
</div>
<script>

    const steps = [];
    
    const stepAddButton = document.getElementById("step-add-button-link");
    const stepHidenInput = document.createElement('input')
    stepHidenInput.setAttribute('name','steps')
    stepHidenInput.setAttribute('type','hidden')
    const stepDisplay = document.createElement('div')
    stepHidenInput.setAttribute('id','step-input-hidden')
    stepDisplay.setAttribute('id','step-display')
    form.appendChild(stepHidenInput)
    form.appendChild(stepDisplay)
    
    stepAddButton.addEventListener('click', function(){
        console.log('click')
        const stepTitle = document.getElementById("step-title").value;
        const stepInstruction = document.getElementById("step-instruction").value;
        const existingStepImageInput = document.getElementById("step-image");
        

        const newStepImageInput = document.createElement('input');
        newStepImageInput.setAttribute('type', 'file');
        newStepImageInput.setAttribute('id', `step-image-${steps.length}`);
        newStepImageInput.setAttribute('name', `step-image-${steps.length}`);
        newStepImageInput.setAttribute('accept', 'image/*');
        newStepImageInput.setAttribute('class', 'hidden');
        newStepImageInput.files = existingStepImageInput.files;

        stepDisplay.appendChild(newStepImageInput);
        const step = {
            title: stepTitle,
            instruction: stepInstruction,
            image: `step-image-${steps.length}`
        }
        steps.push(step)

        stepHidenInput.setAttribute('value',JSON.stringify(steps))
        
    });


</script>
