{% load static %}
<div>
    Enter Recipe Step's:
    <form hx-post="{% url 'recipe:api-step-list' %}"
          hx-target="#step-list"
          hx-swap="outerHTML"
          class="mb-4"
          enctype="multipart/form-data">
        <input type="hidden" name="recipe" value="{{ recipe.id }}">
        <label for="title" class="block text-sm font-medium text-gray-700">Title</label>
        <input type="text"
               name="title"
               id="step-title"
               data-test="title-step"
               placeholder="Give a title for your Recipe step"
               hx-indicator="#indicator-step"
               required
               class="px-3 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-orange-600 focus:border-transparent">
        <label for="instruction" class="block text-sm font-medium text-gray-700">Instruction</label>
        <div class="bg-slate-100 rounded-lg"
             data-test="instruction-step"
             id="instruction-step">{{ recipeStepForm.instruction }}</div>
        <label for="image" class="block text-sm font-medium text-gray-700">Image</label>
        <input type="file"
               name="image"
               id="step-image"
               accept="image/*"
               data-test="image-step">
        <button data-test="add-step">{% include "patterns/components/icons/add/add.html" %}</button>
        <span id="indicator-step" class="htmx-indicator">{% include "patterns/components/spinner/spinner.html" %}</span>
    </form>
</div>
<script>
    const stepTitle = document.getElementById("step-title");
    const element = document.getElementsByClassName("ql-editor");
    const stepImage = document.getElementById("step-image")
    document.addEventListener('htmx:afterRequest', function(evt) {
        stepTitle.value = "";
        element[0].innerHTML = "";
        stepImage.value = "";

    });
</script>
<style>
    .htmx-indicator{
        opacity:0;
        transition: opacity 500ms ease-in;
    }
    .htmx-request .htmx-indicator{
        opacity:1
    }
    .htmx-request.htmx-indicator{
        opacity:1
    }

</style>
