{% load static tailwind_tags %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'django_quill/media.html' %}
    <link rel="shortcut icon"
          type="image/svg+xml"
          href="{% static '/favicon.png' %}" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}
    {% comment %} <script src="{% static 'htmx.js' %}"></script> {% endcomment %}
    <script src="{% static 'htmx.min.js' %}" defer></script>
    {% comment %} <script src="https://unpkg.com/htmx.org@1.1.0"></script> {% endcomment %}
    {% comment %} <script>
		  document.body.addEventListener('htmx:configRequest', (event) => {
			event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
		  })
    </script> {% endcomment %}
  </head>
  <body class="bg-orange-50" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% block content %}
    {% endblock content %}
  </body>
</html>
<style>
	{% comment %} body{
	   background-image: linear-gradient(to right bottom, #603b00, #6d4508, #7a4f12, #88591b, #966324);
} {% endcomment %}
</style>
