{% load static tailwind_tags %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "django_quill/media.html" %}
    <link rel="shortcut icon"
          type="image/svg+xml"
          href="{% static '/favicon.png' %}" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block extra_head %}
    {% endblock extra_head %}
    {% tailwind_css %}
    {% comment %} remove to to block when it's needed {% endcomment %}
    <script src="{% static 'htmx.min.js' %}" defer></script>
  </head>
  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% block content %}
    {% endblock content %}
  </body>
</html>
