<div id="link-list">
    Link list:
    {% for link in links %}
        <div class="flex items-center mb-4">
            {% if link.type == "Facebook" %}
                {% include "patterns/components/icons/facebook/facebook.html" %}
            {% elif link.type == "Twitter" %}
                {% include "patterns/components/icons/twitter/twitter.html" %}
            {% elif link.type == "Youtube" %}
                {% include "patterns/components/icons/youtube/youtube.html" %}
            {% elif link.type == "Tiktok" %}
                {% include "patterns/components/icons/tiktok/tiktok.html" %}
            {% elif link.type == "Instagram" %}
                {% include "patterns/components/icons/insta/insta.html" %}
            {% elif link.type == "Website" %}
                {% include "patterns/components/icons/website/website.html" %}
            {% endif %}
            <a href="{{ link.value }}"
               target="_blank"
               class="ml-2 cursor-pointer hover:underline hover:text-blue-700 text-blue-500">{{ link.value }}</a>
            <button hx-delete="{% url 'api-link-detail' pk=link.id %}"
                    hx-target="#link-list"
                    hx-swap="outerHTML">
                <div class="px-3">{% include "patterns/components/icons/delete/delete.html" %}</div>
            </button>
        </div>
    {% empty %}
        <p>No links yet.</p>
    {% endfor %}
</div>
