{% extends "base.html" %}
{% load static %}
{% load my_filters %}
{% block extra_head %}
    {% include "components/import_quill.html" %}
    {% include "components/import_sweetalert.html" %}
    <script src="{% static 'htmx.min.js' %}" defer></script>
{% endblock extra_head %}
{% block content %}
    {% include "navbar.html" %}
    <div class="flex items-center justify-center ">
        <div class=" mx-auto my-24 w-2/3 bg-orange-50 overflow-hidden rounded-lg">
            <div class="sm:block hidden h-52 overflow-hidden mb-5 bg-cover bg-center w-full"
                 style="background-image: url('{{ article.image.image.crop.600x200.url|mino_to_localhost }}')"></div>
            <div class="sm:hidden block h-52 overflow-hidden mb-5 bg-cover bg-center w-full"
                 style="background-image: url('{{ article.image.image.crop.400x400.url|mino_to_localhost }}')"></div>
            {% include "btn.html" with url=article_edit_url link_text="🖊️ Edit the article" %}
            {% if user.is_authenticated %}
                <div class="float-right pr-10">
                    <p hx-post="{% url "api-report" pk=article.id content_type="Article" %}"
                       hx-trigger="click"
                       hx-confirm="Are you sure you want to report this Article?"
                       class="text-sm font-semibold text-red-500  duration-100 cursor-pointer scale-90 hover:text-red-800 hover:underline pt-7">
                        - report abuse -
                    </p>
                </div>
            {% endif %}
            <div class="px-10 pt-7">
                <div class="cursor-pointer">
                    <button hx-get="{% url "article:api-set-favorite" pk=article.id %}"
                            hx-trigger="click"
                            hx-target="#is-fav">{% include "is_favorite.html" %}</button>
                </div>
                <div class="mb-8 no-tailwind all-initial remove-all">
                    <p class="text-7xl font-semibold capitalize">{{ article.title }}</p>
                    <div class="quill-content ml-3 mt-4">
                        {% autoescape off %}
                            {{ article.content.html|safe }}
                        {% endautoescape %}
                    </div>
                </div>
                {% if comment is not empty %}
                    <div class="py-4 " id="comments">
                        <p class="text-xl first-letter:uppercase font-thin first-letter:italic">Comments:</p>
                        {% include "comments.html" %}
                    </div>
                {% endif %}
                {% include "components/tag_list.html" %}
                {% include "comment_list.html" %}
                {% if user.is_authenticated %}
                    {% include "patterns/components/comment_form/comment_form.html" with pk=article.id content_type="Article" comment_form=comment_form %}
                {% else %}
                    <p>
                        <a href="{% url 'user:login' %}">Log in</a> to add a comment.
                    </p>
                {% endif %}
                {% if request.user == article.author %}
                    <div class="w-full">
                        <button id="delete-button"
                                hx-delete="{% url 'article:api-detail' pk=article.id %}"
                                data-test="delete-article"
                                {% comment %}
                                hx-confirm="delete"
                                {% endcomment %}
                                class="border-2 border-red-500 px-10 py-2 rounded-lg text-red-600 hover:text-white hover:border-0 hover:bg-red-600">
                            Delete recipe
                        </button>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <style>
        @charset "UTF-8";
        .article-img
        {
            background: url('{{ article.image.image.url }}');
            background-size: cover;
            background-position: center;
        }
    </style>
    <script>
        const deleteButton = document.getElementById("delete-button")
        deleteButton.addEventListener("htmx:confirm", async function(e) {
            e.preventDefault()
            Swal.fire({
                icon: "error",
                confirmButtonText: "Delete",
                confirmButtonColor: "#d33",
                showCancelButton: true,
                title: "Delete Recipe",
                inputAttributes: {
                    "data-test": "delete-input",
                },
                html: `Are you sure that you want to <b>delete</b> that recipe?`,
            }).then(function(result) {
                e.detail.issueRequest(false)
                if(result.isConfirmed){
                    Swal.fire(" Recipe Deleted!", "", "success");
                }
            })
        })
    </script>
{% endblock content %}
