{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block extra_head %}
  {% include "components/import_quill.html" %}
  <script src="{% static 'htmx.min.js' %}" defer></script>
  <script src={% static "tagify/tagify" %}></script>
  <script src={% static "tagify/tagify.polyfills.min.js"%}></script>
  <link href="{% static "tagify/tagify.css" %}" rel="stylesheet" type="text/css" />
{% endblock extra_head %}
{% block content %}
  {% include "navbar.html" %}
  <section class="bg-orange-50 pt-20 h-screen mx-80">
    <div class="flex items-end ml-20">
      <img src="{% static 'notes.svg' %}"
           alt="Profile Picture"
           class="w-60 h-60 inline" />
      <div class=" inline text-orange-700 ">
        {% if create %}
          <p class="text-4xl capitalize font-bold underline">New Article</p>
          <p class=" -mt-1.5 text-orange-300">creation of a new article</p>
        {% else %}
          <p class="text-4xl capitalize font-bold underline">Edit Article</p>
          <p class=" -mt-1.5 text-orange-300">Make your article even better</p>
        {% endif %}
      </div>
    </div>
    <form method="post"
          class="w-full"
          {% if edit %} action="{% url "article:api-edit" pk=article.initial.id %}" {% else %} action="{% url "article:api-new" %}" {% endif %}
          enctype="multipart/form-data">
      {% csrf_token %}
      {% if image %}<img src="{{ image }}" alt="article image" class="w-60 max-h-32 inline" />{% endif %}
      <label class="block">Title</label>
      <input type="text"
             name="title"
             data-test="title"
             {% if article.title.value %}value="{{ article.title.value }}"{% endif %} />
      <label class="block">content</label>
      <div class="bg-white rounded-lg mx-10">{{ article.content }}</div>
      <label class="block py-5 text-left">
        <input type="file"
               name="image"
               accept="image/*"
               class="ml-3"
               data-test="image">
      </label>
      {% include "patterns/components/tag_editor/tag_editor.html" %}
      {% include "patterns/components/check_box/check_box.html" with value="is_published" text="Publish artice" %}
      <button type="submit"
              data-test="submit"
              class="bg-orange-600 text-white px-10 rounded-lg py-2 float-right">
        {% if edit %}
          Update Article
        {% else %}
          Create Article
        {% endif %}
      </button>
    </form>
  </section>
  <style>
    .ql-editor{
      min-height:200px;
  }

  </style>
{% endblock content %}
