{% extends "base.html" %}
{% block content %}
    <div class="flex ">
        {% include "components/profile_navbar.html" %}
        <div class="bg-white pl-10 pt-20 w-full">
            <div class="flex mt-24">
                <div class="w-5/6 ">
                    <div class="flex justify-end py-2 text-slate-700">Votre profile de presentation</div>
                    <div class="bg-orange-400 rounded-lg ml-10  text-white   shadow ">
                        <div class="absolute">
                            {% include "components/editable_image.html" with details="profile" img=user.profile_picture.image.url %}
                        </div>
                        <div class="ml-44 py-10 ">
                            <div class="ml-5 text-white">
                                <p>
                                    <span class="font-thin capitalize italic">Username:</span>
                                    <span class="font-bold capitalize ">{{ user.username }}</span>
                                </p>
                                <p>
                                    <span class="font-thin capitalize italic">email:</span>
                                    <span class="font-bold  ">{{ user.email }}</span>
                                </p>
                                {% include "components/editable_field.html" with label="First Name" value=user.first_name empty_css_class="first_name_empty" input_css_class="first_name_input" %}
                                {% include "components/editable_field.html" with label="Last Name" value=user.last_name empty_css_class="last_name_empty" input_css_class="last_name_input" %}
                                {% include "components/editable_field.html" with label="Bio" value=user.bio empty_css_class="bio_empty" input_css_class="bio_input" %}
                            </div>
                        </div>
                    </div>
                    <div class="mt-10 ml-10">
                        <button class="after:float-right after:pl-4 after:font-bold accordion bg-orange-400 hover:bg-orange-500 rounded-lg text-white cursor-pointer w-full text-3xl px-3 py-4 text-left">
                            Socials
                        </button>
                        <div class="panel overflow-hidden py-3">
                            <p>
                                {% include "components/editable_field.html" with label="Youtube" value=user.youtube_handle empty_css_class="youtube_empty" input_css_class="youtube_input" %}
                                {% include "components/editable_field.html" with label="Facebook" value=user.facebook_handle empty_css_class="facebook_empty" input_css_class="facebook_input" %}
                                {% include "components/editable_field.html" with label="Twitter" value=user.twitter_handle empty_css_class="twitter_empty" input_css_class="twitter_input" %}
                                {% include "components/editable_field.html" with label="Instagram" value=user.instagram_handle empty_css_class="instagram_empty" input_css_class="instagram_input" %}
                                {% include "components/editable_field.html" with label="Website" value=user.website_handle empty_css_class="website_empty" input_css_class="website_input" %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-4/5 py-10 ml-10">
                {% url 'article:new' as article_new_url %}
                <div class="float-left">{% include "btn.html" with url=article_new_url link_text="Create Article" %}</div>
                <div class="float-right">{% include "btn.html" with url="new-recipe" link_text="Create recipe" %}</div>
            </div>
        </div>
    </div>
    <style>
            .accordion:after {
                content:'\002B';
            }
            
            .active:after {
                content: "\2212";
            }
            
            .panel {
              max-height: 0;
              transition: max-height 0.2s ease-out;
            }
    </style>
    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;
        
        for (i = 0; i < acc.length; i++) {
          acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
              panel.style.maxHeight = null;
            } else {
              panel.style.maxHeight = panel.scrollHeight + "px";
            } 
          });
        }
    </script>
{% endblock content %}
