{% extends "base.html" %}
{% block content %}
    <div class="flex bg-white">
        {% include "components/profile_navbar.html" %}
        <div class="w-full">
            <div class="pt-20 text-center font-semibold text-3xl underline">My Recipes</div>
            <div class="my-20 ml-10">
                {% for recipe in recipes.all %}
                    {% include "components/recipe_card.html" with title=recipe.title description=recipe.description image=recipe.image %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
