{% extends "base.html" %}
{% block content %}
    <div class="flex bg-white">
        {% include "components/profile_navbar.html" %}
        <div class="w-full">
            <section>
                <div class="pt-20 text-center font-semibold text-3xl underline">My Favorites Recipes</div>
                <div class="my-20 ml-10">
                    {% for recipe in recipes %}
                        {% include "components/recipe_card.html" with title=recipe.title description=recipe.description image=recipe.image %}
                    {% empty %}
                        <div class="text-center mx-auto">
                            <p>No Recipe yet.</p>
                        </div>
                    {% endfor %}
                </div>
            </section>
            <section>
                <div class="pt-20 text-center font-semibold text-3xl underline">My Favorites Articles</div>
                <div class="my-20 ml-10">
                    {% for article in articles %}
                        {% include "components/cards.html" with type="article" content=article %}
                    {% empty %}
                        <div class="text-center mx-auto">
                            <p>No Article yet.</p>
                        </div>
                    {% endfor %}
                </div>
            </section>
        </div>
    </div>
{% endblock %}
