{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
    <div class="flex">
        {% include "components/profile_navbar.html" %}
        <section>
            <div>
                My blog articles
                {% for article in articles.all %}
                    <div class="bg-orange-50 h-64 w-44 rounded-lg mx-4 p-4 hover:scale-105 transition hover:shadow-lg">
                        <h1>{{ article.title }}</h1>
                        <h2>{{ article.content }}</h2>
                    </div>
                {% empty %}
                    <p>No articles yet.</p>
                {% endfor %}
            </div>
            <h2>Create a new article</h2>
            <form method="post" class="w-full">
                {% csrf_token %}
                <label class="block">Title</label>
                <input type="text"name="title" />
                <label class="block">content</label>
                <div class="h-52">{{ form.content }}</div>
                <label class="block">
                    <input type="file" name="image" accept="image/*" class="ml-3">
                </label>
                <button type="submit" class="bg-orange-600 text-white px-10 rounded-lg py-2">Create Article</button>
            </form>
        </section>
    </div>
{% endblock content %}
