{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block extra_head %}
    {% include "components/import_quill.html" %}
    {% include "components/import_tagify.html" %}
    <script src="{% static 'htmx.min.js' %}" defer></script>
{% endblock extra_head %}
{% block content %}
    {% include "navbar.html" %}
    <section class="w-1/2 mx-auto bg-orange-50 px-10 pb-10 rounded-lg">
        <form id="top-form"
              class="-mt-10"
              method="post"
              enctype="multipart/form-data"
              action="{% url "recipe:api-detail" pk=recipe.id %}">
            {% csrf_token %}
            <input type="hidden" name=recipe value={{ recipe.id }} />
            <div class="flex items-end ml-20">
                <img src="{% static 'notes.svg' %}"
                     alt="Profile Picture"
                     class="w-60 h-60 inline" />
                <div class=" inline text-orange-700 ">
                    {% if create %}
                        <p class="text-4xl capitalize font-bold underline">New Recipe</p>
                        <p class=" -mt-1.5 text-orange-300">creation of a new recipe</p>
                    {% else %}
                        <p class="text-4xl capitalize font-bold underline">Edit Recipe</p>
                        <p class=" -mt-1.5 text-orange-300">Make your recipe even better</p>
                    {% endif %}
                </div>
            </div>
            <label for={{ form.title.name }} class="flex mt-10">
                Name<span class="text-red-600">*</span>:
                {% include "patterns/components/icons/help/help.html" with help_text="Just the way you want to call it?" %}
            </label>
            <input type="text" name={{ form.title.name }} data-test="title" class="rounded-lg bg-orange-200 focus:ring-0 border-0 w-full" required placeholder="{{ form.title.label }}" {% if recipe.title %}value="{{ recipe.title }}"{% endif %} />
            <label for={{ form.title.category }} class="flex mt-5">
                Category:
                {% include "patterns/components/icons/help/help.html" with help_text="What is the category of your recipe?" %}
            </label>
            <select name="category"
                    id="{{ form.category.id_for_label }}"
                    class="bg-orange-200 capitalize  text-gray-900 text-sm rounded-lg focus:ring-0 border-0 block w-full p-2.5"
                    data-test="category">
                {% for value in form.category %}
                    <option value="{{ value.data.value }}"
                            class="capitalize"
                            {% if value.data.value == form.category.value %}selected{% endif %}>
                        {{ value.data.value }}
                    </option>
                {% endfor %}
            </select>
            <label for={{ form.description.name }} class="flex mt-5">
                Description:
                {% include "patterns/components/icons/help/help.html" with help_text="A Description to descibe what is you recipe about" %}
            </label>
            <textarea type="textarea" name={{ form.description.name }} data-test="description" class=" bg-orange-200 capitalize  text-gray-900 text-sm rounded-lg focus:ring-0 border-0 block w-full p-2.5" placeholder="Please enter a desciption">{% if recipe.description %}{{ recipe.description }}{% endif%}</textarea>
            <label for={{ form.image.name }} class="flex mt-5">
                Image:
                {% include "patterns/components/icons/help/help.html" with help_text="this is going to be the background image of the recipe" %}
            </label>
            {% if recipe.image.url %}
                <img src="{{ recipe.image.url }}"
                     alt="recipe image"
                     class="w-60 h-60 inline" />
            {% endif %}
            <input type="file" name="image" accept="image/*" data-test="image-desc">
            <label for={{ form.recipe_origin.name }} class="flex mt-5 ">
                Origin:
                {% include "patterns/components/icons/help/help.html" with help_text="Just in case if you know where the recipe come from it's' always nice to have a bit of background but if you don't that's fine just dont add anything" %}
            </label>
            <select name="recipe_origin"
                    id="{{ form.recipe_origin.id_for_label }}"
                    class="bg-orange-200 capitalize text-gray-900 text-sm rounded-lg focus:ring-0 border-0 block w-full p-2.5"
                    data-test="origin">
                <option value="" {% if not form.recipe_origin.value %}selected{% endif %}></option>
                {% for value in form.recipe_origin %}
                    <option value="{{ value.data.value }}"
                            class="capitalize"
                            {% if value.data.value == form.recipe_origin.value %}selected{% endif %}>
                        {{ value.data.value }}
                    </option>
                {% endfor %}
            </select>
            <label for={{ form.recipe_origin.name }} class="flex mt-5 ">
                Duration:
                {% include "patterns/components/icons/help/help.html" with help_text="How much time is it going to take" %}
            </label>
            <div class="flex">
                <input type="number" name={{ form.duration.name }} value={{ form.duration.value }} class=" bg-orange-200 capitalize  text-gray-900 text-sm rounded-lg focus:ring-0 border-0 block  p-2.5" min=0 data-test="duration-input" />
                <select name={{ form.duration_scale.name }} id="{{ form.duration_scale.id_for_label }}" class="ml-3 bg-orange-200 capitalize text-gray-900 text-sm rounded-lg focus:ring-0 border-0 block w-full p-2.5" data-test="duration-select">
                    {% for value in form.duration_scale %}
                        <option value="{{ value.data.value }}"
                                class="capitalize"
                                {% if value.data.value == form.duration_scale.value %}selected{% endif %}>
                            {{ value.data.value }}s
                        </option>
                    {% endfor %}
                </select>
            </div>
            <input type="checkbox" name="is_draft" id="is_published_top" checked />
        </form>
        <!-- Add ingredients to recipe -->
        {% include "patterns/components/ingredient_form/ingredient_form.html" %}
        {% include "patterns/components/ingredient_list/ingredient_list.html" %}
        <!-- Add Recipe steps -->
        {% include "patterns/components/step_form/step_form.html" %}
        {% include "patterns/components/step_list/step_list.html" with cant_delete_step=True %}
        <!-- Add Tags -->
        {% include "patterns/components/tag_editor/tag_editor.html" %}
        <!-- Add links to recipe -->
        {% include "patterns/components/link_form/link_form.html" with content="recipe" %}
        {% include "patterns/components/link_list/link_list.html" %}
        <!-- to publish recipe -->
        {% include "patterns/components/check_box/check_box.html" with value="is_published" text="Publish recipe" %}
        <div class="w-full text-right">
            <button id="send-form"
                    class="bg-orange-800 text-white rounded-lg px-10 py-2 cursor-pointer"
                    data-test="submit">
                {% if create %}
                    Create Recipe
                {% else %}
                    Edit Recipe
                {% endif %}
            </button>
            <button id="is-sending"
                    class="bg-gray-400 text-white rounded-lg px-10 py-2 cursor-pointer hidden"
                    disabled>
                <span id="indicator-form">{% include "patterns/components/spinner/spinner.html" %}</span>
            </button>
        </div>
    </section>
    <script>
		const indicatorFull = document.getElementById("indicator-form")
		const topForm = document.getElementById("top-form")
		const isPublished = document.getElementById("is_published")
		const isPublished_top = document.getElementById("is_published_top")
		const sendForm = document.getElementById("send-form")
		const isSending = document.getElementById("is-sending")
		const reciptCategory = document.getElementById("{{ form.category.id_for_label }}")
		reciptCategory.addEventListener("change",updateBg)
		sendForm.addEventListener("click", submitForm);
		isPublished.addEventListener("change", updateIsPublished)
		function updateIsPublished(e){
			isPublished_top.checked = isPublished.checked
		}
		function submitForm(e){
			e.preventDefault()
			sendForm.classList.add("hidden")
			isSending.classList.remove("hidden")
			document.getElementById("top-form").submit();
		}
		function updateBg(e){
			console.log(reciptCategory.value)
			if (reciptCategory.value == "Recipe"){
				document.body.style.backgroundImage = "linear-gradient(-20deg, #fff 0%, #000 100%)"
			} else if (reciptCategory.value == "Health"){
				document.body.style.backgroundImage = "linear-gradient(-20deg, #eee 0%, #111 100%)"
			} else if (reciptCategory.value == "Cosmetic"){
				document.body.style.backgroundImage = "linear-gradient(-20deg, #ccc 0%, #222 100%)"
			} else if (reciptCategory.value == "Garden"){
				document.body.style.backgroundImage = "linear-gradient(-20deg, #bbb 0%, #333 100%)"
			} else if (reciptCategory.value == "Home"){
				document.body.style.backgroundImage = "linear-gradient(-20deg, #aaa 0%, #444 100%)"
			} else if (reciptCategory.value == "Fermentaion"){
				document.body.style.backgroundImage = "linear-gradient(-20deg, #999 0%, #555 100%)"
			} else if (reciptCategory.value == "Animal"){
				document.body.style.backgroundImage = "linear-gradient(-20deg, #888 0%, #666 100%)"
			} else if (reciptCategory.value == "Juice"){
				document.body.style.backgroundImage = "linear-gradient(-20deg, #777 0%, #888 100%)"
			}
		}
    </script>
    <style>
		.bg-red{
			background-image: linear-gradient(-20deg, #fff 0%, #000 100%);
		}	
    </style>
{% endblock content %}
