{% load my_filters %}
<div id="ingredient-list" class="relative overflow-x-auto rounded mb-10 ">
    <table class=" w-full text-sm text-left text-gray-500 dark:text-gray-400 ">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">Quantity</th>
                <th scope="col" class="px-6 py-3">Unit</th>
                <th scope="col" class="px-6 py-3">Ingredient Name</th>
                <th scope="col" class="px-6 py-3">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for ing in ings %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <td scope="row"
                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{ ing.quantity | clean_number }}
                    </td>
                    <td scope="col" class="px-6 py-3">{{ ing.unit }}</td>
                    <td scope="col" class="px-6 py-3">{{ ing.ingredient.name }}</td>
                    <td scope="col" class="px-6 py-3">
                        <button type="button"
                                class="ml-3 px-4 py-2 bg-red-600 text-white rounded-lg hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-600 focus:ring-opacity-50"
                                hx-delete="{% url "recipe:ingredient-detail" pk=ing.pk %}"
                                hx-swap="outerHTML"
                                hx-target="#ingredient-list">Delete</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<style>
    .ql-editor{
        min-height:200px;
    }
</style>
