{% extends "base.html" %}

{% block content %}
<section class="mt-20 mx-20">
    <h1 class="text-4xl font-bold text-center">About Recettes</h1>
    <h2 class="text-xl font-semi-bold text-center mt-5">se  proonce recette</h2>
<p class="mt-20">
  Welcome to our diverse community where we share more than just recipes - it's a hub for culinary delights, gardening tips, home management, and even insights into the world of electrical gadgets. We believe in the joy of doing things yourself, fostering a culture of creativity and self-sufficiency.

  Our platform embraces a wide range of topics, allowing you to explore the realms of cooking, gardening, household management, and electronics. But it's not just about what you can buy; it's about what you can create and experience. 

  Utilizing our unique rating system, users have the power to elevate the best recipes and ideas to the top, ensuring that the most valuable content gets the spotlight. Join us on this journey of exploration, discovery, and sharing – because here, it's more than just recipes, it's a lifestyle.
</p>

<p class="hidden">this website is about sharing recipe but recipe in a large way, recipe for cooking, garding, home stuff,electrical stuff </br>it's about things you can do yourself, and using the rate system user can push recipe on the top to see with one are the best and witch one doesn't works</p>
</section>
{% endblock content %}
