{% block extra_head %}
  <script src="{% static 'htmx.min.js' %}" defer></script>
  {% include "django_quill/media.html" %}
  <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
  <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css"
        rel="stylesheet"
        type="text/css" />
{% endblock extra_head %}
<h2>
  {% if edit %}
    Edit Article
  {% else %}
    Create Article
  {% endif %}
</h2>
<form method="post"
      class="w-full"
      {% if edit %}
        action="{% url "article-edit" pk=article.initial.id %}"
      {% else %}
        action="{% url "article:new" %}"
      {% endif %}
      enctype="multipart/form-data">
  {% csrf_token %}
  {% if image %}<img src="{{ image }}" alt="article image" class="w-60 max-h-32 inline" />{% endif %}
  <label class="block">Title</label>
  <input type="text"
         name="title"
         {% if article.title.value %}value="{{ article.title.value }}"{% endif %} />
  <label class="block">content</label>
  <div>{{ article.content }}</div>
  <label class="block py-5 text-left">
    <input type="file" name="image" accept="image/*" class="ml-3">
  </label>
  {% include "components/tag_editor.html" %}
  <div class="checkbox-wrapper-28 text-orange-500 mt-5 text-left">
    <input id="tmp-28"
           type="checkbox"
           class="promoted-input-checkbox"
           name="is_draft"
           {% if article.is_draft.value %}checked{% endif %} />
    <svg>
      <use xlink:href="#checkmark-28" />
    </svg>
    <label for="tmp-28">Publish article</label>
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
      <symbol id="checkmark-28" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-miterlimit="10" fill="none"  d="M22.9 3.7l-15.2 16.6-6.6-7.1"></path>
      </symbol>
    </svg>
  </div>
  <button type="submit"
          class="bg-orange-600 text-white px-10 rounded-lg py-2 float-right">
    {% if edit %}
      Update Article
    {% else %}
      Create Article
    {% endif %}
  </button>
</form>
<style>
    .ql-editor{
      min-height:200px;
  }
    .checkbox-wrapper-28 {
      --size: 25px;
      position: relative;
    }
  
    .checkbox-wrapper-28 *,
    .checkbox-wrapper-28 *:before,
    .checkbox-wrapper-28 *:after {
      box-sizing: border-box;
    }
  
    .checkbox-wrapper-28 .promoted-input-checkbox {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
  
    .checkbox-wrapper-28 input:checked ~ svg {
      height: calc(var(--size) * 0.6);
      -webkit-animation: draw-checkbox-28 ease-in-out 0.2s forwards;
              animation: draw-checkbox-28 ease-in-out 0.2s forwards;
    }
    .checkbox-wrapper-28 label:active::after {
      background-color: #e6e6e6;
    }
    .checkbox-wrapper-28 label {
      line-height: var(--size);
      cursor: pointer;
      position: relative;
    }
    .checkbox-wrapper-28 label:after {
      content: "";
      height: var(--size);
      width: var(--size);
      margin-right: 8px;
      float: left;
      border: 2px solid ;
      border-radius: 3px;
      transition: 0.15s all ease-out;
    }
    .checkbox-wrapper-28 svg {
      stroke: orange;
      stroke-width: 3px;
      height: 0;
      width: calc(var(--size) * 0.6);
      position: absolute;
      left: calc(var(--size) * 0.21);
      top: calc(var(--size) * 0.2);
      stroke-dasharray: 33;
    }
  
    @-webkit-keyframes draw-checkbox-28 {
      0% {
        stroke-dashoffset: 33;
      }
      100% {
        stroke-dashoffset: 0;
      }
    }
  
    @keyframes draw-checkbox-28 {
      0% {
        stroke-dashoffset: 33;
      }
      100% {
        stroke-dashoffset: 0;
      }
    }
</style>
