{% load my_filters %}
<div class="w-40 h-40 border-solid border-orange-800 border-4 rounded-full -mt-20 text-center mx-auto overflow-hidden">
    {% if url %}
        <img class="image object-cover h-full w-full"
             alt="{{ username }}"
             src="{{ url | mino_to_localhost }}">
    {% else %}
        {% load static %}
        <img class="image object-cover h-full w-full"
             alt="{{ username }}"
             src="{% static 'abstract-user.svg' %}">
    {% endif %}
</div>
