{% load static %}
<nav class="bg-orange-100 w-56 h-screen shadow px-5">
    <a href="{% url 'home' %}" class="px-5">
        <img src="{% static 'just_logo.svg' %}"
             alt="Logo"
             class="w-16 mx-auto text-center" />
    </a>
    <ul class="ml-5 first-letter:uppercase pt-10 text-xl text-orange-600 font-bold italic">
        <a href={% url 'profile' %}>
            <li class="py-2 hover:text-red-800  duration-75 hover:scale-105">profile</li>
        </a>
        <a href={% url 'my-recipes' %}>
            <li class="py-2 hover:text-red-800  duration-75 hover:scale-105">My recipes</li>
        </a>
        <a href={% url 'my-favorites' %}>
            <li class="py-2 hover:text-red-800  duration-75 hover:scale-105">favorites</li>
        </a>
        <a href={% url 'my-articles' %}>
            <li class="py-2 hover:text-red-800  duration-75 hover:scale-105">My Articles</li>
        </a>
        <a href={% url 'logout' %}>
            <li class="py-2 hover:text-red-800  duration-75 hover:scale-105">Logout</li>
        </a>
    </ul>
</nav>
