{% extends "base.html" %}
{% load static tailwind_tags %}
{% load i18n %}
{% block extra_head %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Damion&display=swap"
          rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Damion&display=swap"
          rel="stylesheet">
{% endblock extra_head %}
{% block content %}
    {% include "navbar.html" %}
    <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8 pt-20">
        <h1 class=" text-center text-slate-900 font-bold text-9xl title">{% translate "Welcome to Elisa's corner!" %}</h1>
        <h2 class=" text-center text-slate-600 font-light text-lg">{% translate "intro-to-elisa" %}</h2>
        {% comment %} {% if user.is_authenticated %}
            <div class="text-right pt-4">
                <div class="">{% include "btn_new_recipe.html" %}</div>
            </div>
        {% endif %} {% endcomment %}
        {% include "searchbar.html" %}
        <h2 class="text-3xl font-bold">Recipes:</h2>
        <div class="flex pt-5 flex-wrap">
            {% for recipe in recipes %}
                {% include "components/cards.html" with type="recipe" content=recipe %}
            {% empty %}
                <p>No Recipe</p>
            {% endfor %}
        </div>
        <h2 class="text-3xl font-bold">Articles:</h2>
        <div class="flex flex-wrap">
            {% for article in articles.all %}
                {% include "components/cards.html" with type="article" content=article %}
            {% empty %}
                <p>No articles</p>
            {% endfor %}
        </div>
    </div>
    <style>
.title {
font-family: 'Damion', cursive;
}
body {
font-family: 'Alegreya', serif;
}
{% endblock content %}
