{% extends "base.html" %}
{% load static tailwind_tags %}
{% load i18n %}
{% block content %}
    {% include "navbar.html" %}
    <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8 pt-40">
        <h1 class=" text-center text-red-900 font-semibold text-2xl">{% translate "Welcome to Elisa's corner!" %}</h1>
        <h2 class=" text-center text-red-400 font-light text-xl">{% translate "intro-to-elisa" %}</h2>
        {% comment %} {% if user.is_authenticated %}
            <div class="text-right pt-4">
                <div class="">{% include "btn_new_recipe.html" %}</div>
            </div>
        {% endif %} {% endcomment %}
        {% include "searchbar.html" %}
        <h2 class="text-3xl font-bold">Recipes:</h2>
        <div class="flex pt-5 flex-wrap">
            {% for recipe in recipes %}
                {% include "components/cards.html" with type="recipe" content=recipe %}
            {% empty %}
                <p>No Recipe</p>
            {% endfor %}
        </div>
        <h2 class="text-3xl font-bold">Articles:</h2>
        <div class="flex flex-wrap">
            {% for article in articles.all %}
                {% include "components/cards.html" with type="article" content=article %}
            {% empty %}
                <p>No articles</p>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
