<body>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700&display=swap"
        rel="stylesheet" />
  <style>
      * {
        font-family: "Urbanist", sans-serif;
      }
  </style>
  <div class="fixed left-0 top-0 inset-0 z-10"
       style="background-image: url('https://mailwind.blob.core.windows.net/website/blurred-background-transparency.jpg')">
  </div>
  <div class="py-10 px-4 max-w-[512px] relative z-20 mx-auto">
    <div class="bg-white px-4 py-10 rounded-lg shadow">
      <div class="text-center">
        <img class="h-10"
             src="https://mailwind.blob.core.windows.net/website/logo.png"
             alt="mailwind logo" />
      </div>
      <div class="mt-10">
        <table class="mt-10">
          <tr>
            <td class="text-xl font-semibold">💬 Reset Password link</td>
          </tr>
          <tr>
            <td>
              <div class="h-2"></div>
            </td>
          </tr>
          {{ intro }}
          <tr>
            <td>
              click<a class="text-primary no-underline hover:underline" href="{{ link }}">Here</a> to reset your password
            </td>
          </tr>
        </table>
      </div>
    </div>
    <td class="text-right text-sm opacity-50 pt-10">
      Made with <3 <a class="text-primary no-underline hover:underline"
    href="https://elisascorner.book">Elisa's Corner</a>
    </td>
  </tr>
</table>
</div>
</body>
