{% extends "base.html" %}
{% block content %}
    {% include "navbar.html" %}
    SEARCH:
    <div class="flex pt-56">
        {% for author in authors %}
            <div class="bg-orange-50 h-64 w-44 rounded-lg mx-4 p-4 hover:scale-105 transition hover:shadow-lg">
                {% if author.profile_picture %}
                    <img class="relative w-40 h-40 border-solid border-orange-800 border-4 rounded-full -mt-20"
                         src="{{ author.profile_picture.url }}"
                         alt="Profile Picture" />
                {% else %}
                    {% load static %}
                    <img src="{% static 'abstract-user.svg' %}"
                         alt="Profile Picture"
                         class="relative w-40 h-40 border-solid border-orange-800 border-4 rounded-full -mt-20 " />
                {% endif %}
                <h1>{{ author.username }}</h1>
                <h1>{{ author.bio }}</h1>
            </div>
        {% endfor %}
    </div>
{% endblock %}
