{% load my_filters %}
{% for comment in comments %}
    <div class="mb-4">
        <p class="font-bold inline capitalize text-xl">
            {{ comment.author.username }}
            <span class="text-gray-500 text-xs inline italic">{{ comment.created_at | format_date_short }}</span>
            <button hx-delete="{% url "detail-comment" pk=comment.id content_type="Article" %}"
                    hx-trigger="click"
                    hx-target="#comments"
                    hx-confirm="Are you sure you want to delete this comment?"
                    class="scale-90 hover:scale-125 duration-100 cursor-pointer">🗑️</button>
        </p>
        <p class="pl-2">{{ comment.text }}</p>
        {% if comment.edited %}edited on: {{ comment.edited_at }}{% endif %}
        {% comment %} TODO if edited show date of edit and write edit {% endcomment %}
        {% comment %} <p class="text-gray-600">{{ comment.created_date }}</p> {% endcomment %}
    </div>
{% empty %}
    <p>No comments yet.</p>
{% endfor %}
