{% extends "base.html" %}
{% load my_filters %}
{% block content %}
    {% include "navbar.html" %}
    <div class="px-10">
        <div class="container mx-auto px-4 py-8 pt-24">
            {% if is_author %}
                <div class="w-full">
                    <a href={% url 'recipe:edit' pk=recipe.pk %}>
                        <button class="bg-orange-500 text-white py-2 px-10 rounded-lg float-right">🖊️ edit the recipe</button>
                    </a>
                </div>
            {% elif user.is_authenticated and not is_author %}
                <div class="w-full">
                    <button class="bg-orange-500 text-white py-2 px-10 rounded-lg float-right">Fork recipe</button>
                </div>
            {% endif %}
            <div class="cursor-pointer">
                <button hx-get="{% url "recipe:api-favorite" pk=recipe.id %}"
                        hx-trigger="click"
                        hx-target="#is-fav">{% include "is_favorite.html" %}</button>
            </div>
            <div class="flex flex-col md:flex-row md:items-center mb-8">
                <h1 class="text-3xl font-bold mb-2 md:mb-0 first-letter:text-7xl">{{ recipe.title }}</h1>
                <div class="md:-ml-12 mt-20 text-gray-600">Duration:{{ recipe.duration }} {{ recipe.duration_scale }}.</div>
            </div>
            {% if number_of_rate_given is not empty %}
                <div class="flex">
                    Rate:
                    <div class="scale-50 ">
                        <meter value="{{ given_rate.rate_average }}" min="0" max="5" class="">50% satisfied costumers – 2.5 of 5.0 stars</meter>
                    </div>
                </div>
                {{ given_rate.rate_average }} from {{ given_rate.number_of_rate_given }}  given rate
            </div>
        {% endif %}
        <div class="flex flex-col md:flex-row md:items-center mb-8">
            {% load pictures %}
            <div class="block sm:hidden">
                {% picture recipe.image.image img_alt="Image recipe {{ recipe.title }}" img_loading="lazy" picture_class="my-picture" ratio="1/1" m=6 l=4 %}
            </div>
            <div class="hidden sm:block">
                {% picture recipe.image.image img_alt="Image recipe {{ recipe.title }}" img_loading="lazy" picture_class="my-picture" ratio="16/9" m=6 l=4 %}
            </div>
            <div class="md:w-2/3 md:ml-4">
                <p>Description:</p>
                <p class="text-lg mb-4">{{ recipe.description }}</p>
                {% include "components/tag_list.html" %}
                <ul class="list-disc pl-4">
                    {% for ingredient in ingredients %}
                        <li>{{ ingredient.quantity| clean_number }} {{ ingredient.unit }} {{ ingredient.ingredient.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="mb-8 no-tailwind all-initial remove-all">
            <h2 class="text-xl font-bold mb-4">Instructions</h2>
            <div class="quill-content">
                {% autoescape off %}
                    {{ recipe.instructions.html|safe }}
                {% endautoescape %}
            </div>
        </div>
        {% comment %} TODO: add icon for socials {% endcomment %}
        {% if recipe.youtube %}
            <div class="mb-8">
                <h2 class="text-xl font-bold mb-4">Video</h2>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="{{ recipe.youtube }}"></iframe>
                </div>
            </div>
        {% endif %}
        {% if user.is_authenticated %}
            <div class="flex">
                Rate:
                <form hx-post="{% url "recipe:api-rating" pk=recipe.id %}"
                      hx-trigger="change"
                      hx-target="#rate"
                      hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
                    {% include "rate.html" %}
                </form>
            </div>
        {% endif %}
        {% include "comment_list.html" %}
        {% if user.is_authenticated %}
            <form method="post"
                  class="mb-4"
                  hx-post="{% url "api-detail-comment" pk=recipe.id content_type="Recipe" %}"
                  hx-target="#comments"
                  hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
                {% csrf_token %}
                <label>
                    Comment:
                    <textarea name="comment"
                              id="comment"
                              class="rounded block w-1/3 my-2 focus:ring-0 border-0 h-32 bg-slate-50"></textarea>
                </label>
                <button type="submit"
                        class="bg-orange-500 text-white rounded-lg py-2 px-10"
                        id="submit-comment">Add comment</button>
            </form>
        {% else %}
            <p>
                <a href="{% url 'login' %}">Log in</a> to add a comment.
            </p>
        {% endif %}
        <div class="w-11/12 text-right">
            <button class="bg-orange-500 text-white rounded-lg py-2 px-10">export as pdf</button>
        </div>
    </div>
    <style>
    @charset "UTF-8";
    meter {
      background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"%3E%3Ctext font-size="100" x="50%" y="60%" dominant-baseline="middle" text-anchor="middle" stroke-linejoin="round" fill="gray"  %3E★%3C/text%3E%3C/svg%3E') 0/auto 100%;
      height: 4em;
      width: auto;
      aspect-ratio: 5/1;
    }
    
    meter::-webkit-meter-bar {
      background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"%3E%3Ctext font-size="100" x="50%" y="60%" dominant-baseline="middle" text-anchor="middle" stroke-linejoin="round" fill="gray"  %3E★%3C/text%3E%3C/svg%3E') 0/auto 100%;
      border: none;
    }
    
    /* firefox styling for the bar (filled stars) */
    meter:-moz-meter-optimum::-moz-meter-bar,
    meter:-moz-meter-sub-optimum::-moz-meter-bar,
    meter:-moz-meter-sub-sub-optimum::-moz-meter-bar {
      background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"%3E%3Ctext font-size="100" x="50%" y="60%" dominant-baseline="middle" text-anchor="middle" stroke-linejoin="round" fill="gold"  %3E★%3C/text%3E%3C/svg%3E') 0/auto 100%;
    }
    
    /* webkit styling for the bar (filled stars) */
    meter::-webkit-meter-optimum-value,
    meter::-webkit-meter-suboptimum-value,
    meter::-webkit-meter-even-less-good-value {
      background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"%3E%3Ctext font-size="100" x="50%" y="60%" dominant-baseline="middle" text-anchor="middle" stroke-linejoin="round" fill="gold"  %3E★%3C/text%3E%3C/svg%3E') 0/auto 100%;
    }
    
    meter::-webkit-meter-inner-element {
      display: block;
    }
    
    * {
      box-sizing: border-box;
    }
    

    </style>
    <script>
        const textArea = document.getElementById("comment")
        document.addEventListener('htmx:afterRequest', function(evt) {
            textArea.value = "";
        });
    </script>
{% endblock content %}
